<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
    <title>TwitterFetcher</title>

    <link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />
    <link rel="stylesheet" href="<% request.uri_base %>/css/bootstrap.min.css" />

    <script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/main.js"></script>
  </head>
  <body>
    <% content %>
  </body>
</html>
